<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mq.websphere" type="Dotc.MQ.Websphere.Configuration.WSConfiguration, Dotc.MQ.Websphere" />
    <section name="mqexplorerplus" type="Dotc.MQExplorerPlus.Configuration.AppSettingsConfiguration, Dotc.MQExplorerPlus" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <mq.websphere avoidPCFWhenPossible="false" />
  <mqexplorerplus />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="mqexplorerplus" switchValue="All">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="${specialfolder:folder=LocalApplicationData}/Dot Consulting/MQ Explorer Plus/Logs" />
    <targets>
      <target name="logFile" xsi:type="File" createDirs="True" autoFlush="True" layout="${longdate}::${windows-identity}::${level:uppercase=true}::${message}${newline}${exception:format=toString}" fileName="${logDir}/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logFile" />
    </rules>
  </nlog>
</configuration>
